body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 4vw;
}

.content {
    color: #444444;
    position: relative;
    width: 100vw;
    margin-bottom:50px;
    margin-top:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1; /* Ensure content is above background */
    flex-direction: column; /* Added to align content vertically */
}

.inner-content {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    width: 75vw;
    height: 75vh;
    min-width: 400px;
    height: fit-content;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0; /* Ensure canvas is behind content */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.card {
    width: 20vw; /* Initially, spread across the container */
    height: 20vh;
    background-color: #ddd;
    margin: 10px;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /*transition: all 0.3s ease; /* Transition all properties */
    border-radius: 10px; /* Add rounded corners */
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
}

.card h5 {
    font-size: 100%;
}

.card.expanded {
    width: 60vw; /* When expanded, make it smaller */
    height: 30vh;
    z-index: 1;
    position: relative;
    order: -1; /* Set order to move expanded card to the top */
    border-radius: 20px; /* Add rounded corners */
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
}

.card.expanded h5 {
    font-size: 120%;
    margin-bottom:0;
}

.card-text {
    display: none; /* Hide by default */
    padding-left: 10%;
    padding-right: 10%;
    font-size: 100%;
}

.card.expanded .card-text {
    display: block; /* Show when parent card is expanded */
}

.profilepic {
    width: 35%;
    height: width;
    border-radius: 50%; /* Add rounded corners */
    border-style: solid;
    border-color: #AAA;
}

.work-history {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-entry {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #ddd;
    border-radius: 8px;
    width: 70%;
}

.work-entry h2 {
    margin-top: 0;
}

.work-entry p {
    margin: 5px 0;
}